body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.insta {
    position: relative;
    margin: auto;
    height: 250px;
    width: 250px;
    background: radial-gradient(circle at 30% 110%, rgb(231, 231, 44) 0%, rgb(230, 151, 6) 25%, rgb(226, 41, 72) 50%, rgb(148, 11, 148) 75%, rgb(7, 7, 228) 100%);
    border-radius: 50px;
}

.insta .span1 {
    display: block;
    margin: 34px 34px;
    border: 15px solid white;
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

.insta .span2 {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 8px solid white;
    border-radius: 50px;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insta .span3 {
    position: absolute;
    border: 8px solid white;
    border-radius: 50%;
    top: 71px;
    left: 68%;
    transform: translate(-50%, -50%);
}